$lovely-font: "Sofia", cursive;
$normal-font: "Roboto", sans-serif;
$peach-color: #ff9494;
$blue-color: #73bbc9;

:export {
  peachColor: $peach-color;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: $lovely-font;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f5f6;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

.glass-bg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
